# Basic config
lang en_US.UTF-8
keyboard us
timezone UTC
network --bootproto=dhcp --device=link --activate --onboot=on

# Network installation source for boot.iso
url --url="https://download.rockylinux.org/pub/rocky/9/BaseOS/x86_64/os/"

# Force text mode and auto-reboot so Packer can take over
text
reboot

rootpw --lock
# User creation with plaintext password injection (must match Packer SSH config)
user --name=rockstar --groups=wheel --password=YourSecurePassword123! --plaintext

# STIG Mandated Partitioning
zerombr
clearpart --all --initlabel
part /boot/efi --fstype=efi --size=200
part /boot --fstype=xfs --size=1024
part pv.01 --grow --size=1
volgroup rhel pv.01
logvol / --vgname=rhel --size=10240 --name=root --fstype=xfs
logvol /home --vgname=rhel --size=2048 --name=home --fstype=xfs
logvol /tmp --vgname=rhel --size=2048 --name=tmp --fstype=xfs
logvol /var --vgname=rhel --size=4096 --name=var --fstype=xfs
logvol /var/log --vgname=rhel --size=2048 --name=var_log --fstype=xfs
logvol /var/log/audit --vgname=rhel --size=2048 --name=var_log_audit --fstype=xfs
logvol /var/tmp --vgname=rhel --size=2048 --name=var_tmp --fstype=xfs

# Required Packages
%packages
@^minimal-environment
qemu-guest-agent
cloud-init
cloud-utils-growpart
scap-security-guide
%end

# Apply STIG Profile during install
%addon org_fedora_oscap
content-type = scap-security-guide
profile = xccdf_org.ssgproject.content_profile_stig
%end
